@font-face {
	font-family: Rush;
	src: url(../fonts/MontserratRegular-BWBEl.ttf);
}

:root {
	--txt-color1: #fff;
	--txt-color2: #000;
	--bg-color1: #2ec4b6;
	--bg-color2: #cbf3f0;
	--bg-color3: linear-gradient(0.25turn, #a7d4e7, #585752);

	font-size: 16px;
	font-family: Rush, sans-serif;
	color: var(--txt-color2);
}

body {
	background: var(--bg-color3);
}

/******************** UNIVERSAL STYLING ********************/

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px;
	justify-content: center;
	align-items: stretch;
	text-align: center;

	height: 100%;
}

.grid>* {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

button {
	background-color: var(--bg-color2);
	color: var(--txt-color2);

	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 3px black;
}

button:active {
	box-shadow: 0px 1px black;
}

.hidden {
	display: none;
}

/******************** HEADER SECTION ********************/

.header-section {
	background-color: var(--bg-color2);
	width: 100%;
	border: 1px solid black;
}

/* ! project styles */
.accordion-examples__heading {
    text-align: center;
  }

  /* ! project styles */
.accordion-examples__heading {
    text-align: center;
  }
  /* accordion wrapper */
  .accordion2-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* accordion card */
  .accordion2-card {
    width: 380px;
    border: double rgb(32, 181, 218);
    background-color: rgb(194, 234, 245);
  }
  
  /* accordion header */
  .accordion2-card__header {
    color: #202020;
    position: relative;
    padding: 10px;
    margin-bottom: 0;
  }
  
  /* icons */
  .icons {
    position: absolute;
    right: 10px;
    color: rgb(32, 175, 218);
    transform: rotate(0deg);
    transition: transform 300ms, color 300ms;
  }
  
  /* accordion body */
  .accordion2-card__body {
    border-top: solid 1px rgb(32, 178, 218);
    padding: 10px;
    color: #3d3b3b;
    display: none;
  }
  
  /* javascript css classes to be added and removed */
  .toggleIcon {
    transform: rotate(45deg);
    color: hsl(0, 70%, 50%);
  }
  
  .active {
    display: block;
  }


  /* ! project styles */
.accordion-examples__heading {
    text-align: center;
  }
  /* accordion wrapper */

  
  /* icons */
  .icons {
    position: absolute;
    right: 10px;
    color: rgb(218, 187, 32);
    transform: rotate(0deg);
    transition: transform 300ms, color 300ms;
  }
  

  
  /* javascript css classes to be added and removed */
  .toggleIcon {
    transform: rotate(45deg);
    color: hsl(0, 70%, 50%);
  }
  
  .active {
    display: block;
  }