@font-face {
	font-family: Rush;
	src: url(../fonts/MontserratRegular-BWBEl.ttf);
}

:root {
	--txt-color1: #fff;
	--txt-color2: #000;
	--bg-color1: #2ec4b6;
	--bg-color2: #cbf3f0;
	--bg-color3: linear-gradient(0.25turn, #a7d4e7, #585752);

	font-size: 16px;
	font-family: Rush, sans-serif;
	color: var(--txt-color2);
}

body {
	background: var(--bg-color3);
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px 1fr;
	justify-content: center;
	align-items: stretch;
	text-align: center;
}

.grid>* {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	border: 1px solid black;
}

button {
	background-color: var(--bg-color2);
	color: var(--txt-color2);

	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 3px black;

	justify-self: center;
}

button:active {
	box-shadow: 0px 1px black;
}

.hidden {
	display: none;
}

/******************** HEADER SECTION ********************/

.header-section {
	background-color: var(--bg-color2);
	width: 100%;
}

.scanner-section {
	text-align: center;
	width: 660px;
	height: 660px;
	justify-self: center;
	margin: auto;
	border: none;
}

/********************* treasureFound element  *************/

.treasureFound {
	background-color: #fff;
	border: 5px solid #888;
	box-shadow: 0 0 10px;
	border-radius: 1rem;
	width: 50%;
	font-size: 1.5em;
	margin: 20px;
	padding: 10px 20px;
	justify-self: center;
}

#treasure {
	width: 600px;
	height: 600px;
	border: 2px solid black;
	border-radius: 20px;
	margin: auto;
}

#treasure img {
	width: 100%;
	height: auto;
	border-radius: 20px;
}

@supports(object-fit: cover) {
	#treasure img {
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}